<html>

<head>
<link rel="stylesheet" href="css/styles.css"/>

<script src="refs/angular/angular.js"></script>

<script>
angular.module('scopeExample', [])
.controller('MyController', ['$scope', function($scope) {
  $scope.username = 'World';

  $scope.sayHello = function() {
    $scope.greeting = 'Hello ' + $scope.username + '?';
  };
}]);
</script>

</head>

<body ng-app="scopeExample">
<div ng-controller="MyController">
  Your name:
    <input type="text" ng-model="username">
    <button ng-click='sayHello()'>greet</button>
  <hr>
  {{greeting}}
</div>
</body>

</html>